@import 'normalize.css/normalize';

@include focus-visible;

*,
*::before,
*::after {
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

html {
  height: 100%;
  font-size: 16px;
}

body {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  min-height: 100%;
  color: $text;
  font-family: 'ProximaNova', sans-serif;
  background: $bgColor;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

section {
  padding-top: 96px;
  padding-bottom: 96px;
}

.title {
  color: $textSecond;
  font-weight: 600;
  font-size: 30px;
  line-height: 37px;
}

.subtitle {
  margin-top: 1.125rem;
  color: $gray;
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
  line-height: 21px;
  text-align: center;
}
